<div class="modalDiv modal" *ngIf="active">
	<div class="boxit modal-content" [@enterAnimation]>
		<div class='modal-header'>
			<h3 class='modal-title'>{{message}}</h3>
			<br>
		</div>
		<div class='modal-body'>
			<ng-container *ngIf="!okFunction">
				<button (click)="hide()">ok</button>
			</ng-container>
			<ng-container *ngIf="okFunction">
				<button (click)="okFunction(); hide()">ok</button>
			</ng-container>
			<ng-container *ngIf="cancelFunction">
				<button (click)="cancelFunction(); hide()">cancel</button>
			</ng-container>
		</div>
	</div>
</div>