.boxit {
    border: 2px solid black;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
}

.modalDiv {
    display: flex;
    position: fixed;
    background: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
}

button {
    background-color: rgb(209, 219, 255);
    color: rgb(3, 3, 8);
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}

button:hover {
    transition: all 0.15s;
    background-color: rgb(0, 0, 58);
    color: rgb(236, 236, 250);
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}

.modal-content{
    width: 400px;
}

.id{
    font-size: 20px;
    top: -20px;
    right: -10px;
}