<div *ngIf="hero" class="modalDiv modal" [@fadeInAnimation]>
	<div class='modal-content'>
		<div class='modal-header'>
			<h3 class='id'>ID: {{hero.id}}</h3>
		</div>
		<div class="modal-body">
			<button (click)="editToggle()">Edit</button>

			<app-dynamic-form (notify)='onNotify($event)' [model]="model" [formDisabler]="disableEdit" [hero]='hero'></app-dynamic-form>
			<br>

			<button (click)="goBack()">Back</button>
		</div>
	</div>
</div>
<app-spinner *ngIf='loading'></app-spinner>