<div>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let question of questions" class="form-group">
      <div [formGroup]="form">
        <label [attr.for]="question.key">{{question.label}}</label>

        <div [ngSwitch]="question.controlType">

          <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type" (keyup)="submitted=false;"
            [ngClass]="{'red' : (!form.controls[question.key].valid && submitted)}" class='form-control'/>

          <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" (keyup)="submitted=false;" [ngClass]="{'red' : (!form.controls[question.key].valid && submitted)}"
            class='form-control'>
            <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
          </select>

        </div>
      </div>

    </div>
    <br>

    <div class="form-row">
      <button [disabled]="form.disabled" [ngClass]="{ diss : form.disabled}" type="submit">Save</button>
    </div>

  </form>
</div>