.errorMessage{
    font-weight: bold;
    color: red;
    font-size: 18px;
}
.red{
    border: 1.5px solid red;
}

:disabled {
    background: #dddddd;
}

.form-control{
    width: 178px;
}

button {
    background-color: rgb(209, 219, 255);
    color: rgb(3, 3, 8);
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}

button:hover {
    transition: all 0.15s;
    background-color: rgb(0, 0, 58);
    color: rgb(236, 236, 250);
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}

.diss {
    background-color: rgb(189, 189, 189);
    color: rgb(83, 83, 83);
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
}

.diss:hover {
    background-color: rgb(189, 189, 189);
    color: rgb(83, 83, 83);
}