.appComps{
  margin: 30px;
}

.title{
  font-weight: bold;
  font-size: 24px;
}

.container-fluid{
  background-color: rgb(0, 10, 68);
  width: 100%;
  position: fixed;
}

.active{
  background-color: rgb(255, 255, 255);
}

.active a:hover{
  background-color: rgb(255, 255, 255);
}

.navbar-brand p{
  color: rgb(113, 222, 255);
}

.navbar-nav a{
  color: white;
  font-weight: bold;
}

.navbar-nav .active{
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.navbar-nav a:hover{
  transition: all 0.15s;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

.navbar-nav li a:focus{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}