<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-brand title"><p>{{title}}</p></div>
			</div>
			<ul class="nav navbar-nav">
				<li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
				<li><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
				<li><a routerLink="/villains" routerLinkActive="active">Villains</a></li>
			</ul>
		</div>
	</nav>
	<div class="appComps">
		<router-outlet></router-outlet>
		<app-messages></app-messages>
		<app-notification></app-notification>
	</div>
</body>