<div class = 'blankSpace'>
<div class="spinnercontainer">
  <div class="spinnerbanner">
    LOADING
    <div class="spinnerbanner-left"></div>
    <div class="spinnerbanner-right"></div>
  </div>
</div>
</div>