@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*
Light Blue 007db7
Blue 170073
Blue 162cff
Pink ff1684
Saumon f85a5a
Yellow ebfc5c
Yellow dcfa51
*/

body
{
  font-family: 'Open Sans';
  color: #EB8C79;
  background-color: #18506F;
}

.spinnercontainer
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinnerbanner
{
  color: white;
  position: relative;
  padding: 10px 20px;
  animation: loader 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite;
}

@keyframes loader
{
  0%
  {
    letter-spacing: -1px;
  }
  100%
  {
    letter-spacing: 15px;
  }
}

.spinnerbanner::before
{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: skewX(-15deg);
  background-color: rgb(0, 10, 68);
}

.spinnerbanner-left, .spinnerbanner-right
{
  width: 60px;
  height: 100%;
  position: absolute;
  z-index: -2;
  bottom: -30%;
  transform: skewX(-15deg);
  background-color: rgb(0, 5, 36);
}

.spinnerbanner-left
{
  animation: sub-banner-left 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite;
}

@keyframes sub-banner-left
{
  0%
  {
    right: 82%;
  }
  100%
  {
    right: 90%;
  }
}

.spinnerbanner-right
{
  animation: sub-banner-right 1s cubic-bezier(0.5, 0.1, 0.15, 1) alternate infinite;
}

@keyframes sub-banner-right
{
  0%
  {
    left: 82%;
  }
  100%
  {
    left: 90%;
  }
}

.spinnerbanner-left::before, .spinnerbanner-right::before
{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -1px;
  border: 22px solid;
  border-color: transparent;
}

.spinnerbanner-left::before
{
  left: -1px;
  border-left-color: #18506F;
}

.spinnerbanner-right::before
{
  right: -1px;
  border-right-color: #18506F;
}

.blankSpace {
  display: flex;
  position: fixed;
  background: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}