<div *ngIf='heroes[0]' [@fadeInAnimation]>
  <div *ngFor="let type of types; let x = index">
    <h3>Top {{type.model}}</h3>
    <div class="grid grid-pad">
      <a *ngFor="let hero of heroes[x]" class="col-1-4" routerLink="/{{type.model}}/{{hero.id}}">
        <div class="module hero">
          <h4>{{hero.name}}</h4>
        </div>
      </a>
    </div>
  </div>
  <app-hero-search></app-hero-search>
</div>
<app-spinner *ngIf='loading'></app-spinner>