<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="search">
  Search:
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
</div>

<div class="pageContainer">
  <button class="pageButton" [disabled]="pageNumber == 1" [ngClass]="{ diss : pageNumber == 1}" (click)="setPage(pageNumber = 1)">◂◂</button>
  <button class="pageButton" [disabled]="pageNumber == 1" [ngClass]="{ diss : pageNumber == 1}" (click)="setPage(pageNumber = pageNumber-1)">◂</button>
  <div class="pageLabel">{{pageNumber}}</div>
  <button class="pageButton" [disabled]="pageNumber == pageLength" [ngClass]="{ diss : pageNumber == pageLength}" (click)="setPage(pageNumber = pageNumber+1)">▸</button>
  <button class="pageButton" [disabled]="pageNumber == pageLength" [ngClass]="{ diss : pageNumber == pageLength}" (click)="setPage(pageNumber = pageLength)">▸▸</button>
</div>

<table class="table" *ngIf="heroes[0]" [@fadeInAnimation]>

  <tr class="notLink">
    <th class="id">id
      <button class="miniButton" [ngClass]="{ activeSort : sortKey == 'id' && order == 'asc'}" (click)="sortIt(searchBox.value, 'id', 'asc')">▲</button>
      <button class="miniButton" [ngClass]="{ activeSort : sortKey == 'id' && order == 'desc'}" (click)="sortIt(searchBox.value, 'id', 'desc')">▼</button>
    </th>
    <ng-container *ngFor="let key of heroes[0] | keys">
      <th class="notId" *ngIf="key!='id'">{{key}}
        <button class="miniButton" [ngClass]="{ activeSort : key == sortKey && order == 'asc'}" (click)="sortIt(searchBox.value, key, 'asc')">▲</button>
        <button class="miniButton" [ngClass]="{ activeSort : key == sortKey && order == 'desc'}" (click)="sortIt(searchBox.value, key, 'desc')">▼</button>
      </th>
    </ng-container>
    <th class="deleteHeader"></th>
  </tr>

  <ng-container *ngFor="let hero of heroes">
    <tr class="heroes" routerLink="{{hero.id}}">
      <td class="id">{{hero.id}}</td>
      <ng-container *ngFor="let key of hero | keys">
        <td class="notId" *ngIf="key!='id'">
          {{hero[key]}}
        </td>
      </ng-container>
      <td class="delete" (click)="$event.stopPropagation(); delete(hero)">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </td>
    </tr>
  </ng-container>
</table>
<router-outlet></router-outlet>

<div *ngIf="heroes[0]">
  <app-dynamic-form (notify)="onNotify($event)" [model]="model" [formDisabler]="false"></app-dynamic-form>
</div>
<app-spinner *ngIf='loading'></app-spinner>