/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.table tr:hover {
  transition: all 0.15s;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 10, 68);
  left: .1em;
}

.table .notLink{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 10, 68);
}

.table .notLink:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 10, 68);
}

table .delete{
  position: relative;
  border: none;
  width: 10px;
}

table .id{
  position: relative;
  border: none;
  width: 90px;
}

table .deleteHeader{
  position: relative;
  border: none;
  width: 10px;
}

.table .delete:hover{
  transition: all 0.15s;
  color: rgb(255, 255, 255);
  background-color: #f12e2e;
}

table, th , td {
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  margin-top: 20px;
  border-left: 1px solid rgb(195, 190, 255);
}

.table tbody tr td {
  border-top: none;
}

.table tbody tr th {
  border-top: none;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #dcdcff;
}
button.miniButton {
  position: relative;
  border: none;
  background-color: rgb(0, 10, 68);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

button.miniButton:hover {
  color: rgb(46, 141, 189)
}

.search {
  float: left;
}

.pageContainer {
  position: relative;
  margin-bottom: 20px;
  float: right;
}

.pageButton {
  background-color: rgb(209, 219, 255);
  color: rgb(3, 3, 8);
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
  font-family: Arial;
}

.pageLabel {
  text-align: center;
  display: inline-block;
  background-color: rgb(209, 219, 255);
  color: rgb(3, 3, 8);
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
  font-family: Arial;
}

.pageButton:hover {
  transition: all 0.15s;
  background-color: rgb(0, 0, 58);
  color: rgb(236, 236, 250);
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

.diss {
  background-color: rgb(189, 189, 189);
  color: rgb(83, 83, 83);
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
  pointer-events: none;
}
button.activeSort {
  pointer-events: none;
  color: rgb(46, 141, 189)
}