<div id="search-component" class="form-group">
  <h4>Search</h4>

  <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />

  <ul class="search-result">
    <li *ngFor="let hero of heroes$ | async">
      <a routerLink="/{{selectedType}}/{{hero.id}}">
        {{hero.name}}
      </a>
    </li>
  </ul>

  <select class="form-control" (change)="changeType(selectedType)" [(ngModel)]="selectedType">
    <option *ngFor="let type of types" value = {{type.model}} selected="type.id == 1">
      {{type.model}}
    </option>
  </select>
</div>